<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="input-field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <label>
    <%= form.check_box :is_card %>
    <span><%= Account.human_attribute_name(:is_card) %></span>
  </label>    

  <div class="actions">
    <%= form.submit 'Save', class: 'btn btn-large' %>
    <%= link_to 'Back', accounts_path, class: 'btn btn-large' %>
  </div>
<% end %>
